<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.name }}</title>

    <link rel="shortcut icon" href="/images/icon-32-filled.png" />
    <link rel="apple-touch-icon" href="/images/icon-60-filled.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon-76-filled.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon-120-filled.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon-152-filled.png" />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="//use.typekit.net/rph1wyx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="content">
      <h1>&nbsp;robot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;puffin</h1>
	<section>	
		{{content}}
	</section>
    </div>
  </body>
</html>
